body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: rgb(105, 105, 105);
}

.logo {
    width: 8%;
    padding: 5px;
}

.main-title {
    font-family: 'Impact';
    font-size: 55px;
    text-align: center;
    margin: 10px;
}

.gray-text {
    color: rgb(105, 105, 105);
}

.red-text {
    color: rgb(196, 2, 51);
}

.black-text {
    color: black;
}

.white-text {
    color: white;
}

.banner-img {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.featuresbox {
    flex: 1 1 100%; 
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.featuresbox:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.subtitle {
    font-family: 'Impact';
    font-size: 25px;
    margin-bottom: 10px;
}

.description {
    font-family: 'Roboto';
    font-size: 20px;
    color: black;
    text-align: justify;
}

/* Overview section */
.overview {
    font-family: 'Impact';
    font-size: 30px;
    color: white;
    background-color: rgb(105, 105, 105);
    margin: 50px 0;
    text-align: center;
}

.colors {
    text-align: center;
}

.colors-img {
    width: 100%;
    margin: 40px 0;
}

.details {
    text-align: center;
}

.details-img {
    width: 100%;
    margin: 60px;
}

.inclusions {
    text-align: center;
}

.inclusions-img {
    width: 100%;
    margin: 0;
}

.samplepictures {
    margin: 50px 0;
    background-color: rgb(105, 105, 105);
    font-family: 'Impact';
    font-size: 30px;
    color: white;
    text-align: center;
}

.samplepics {
    text-align: center;
    width: 100%;
}

.samplepics-img {
    width: 100%;
    margin: 0;
}

.disclaimer {
    font-family: 'Roboto';
    font-size: 15px;
    color: black;
    text-align: center;
    margin: 15px 30px;
}

.footer {
    font-family: 'Arial Black';
    font-size: 13px;
    background-color: rgb(105, 105, 105);
    color: white;
    text-align: right;
    margin: 25px;
    padding-right: 10px;
}
