
.body {
    background-size: cover;
    position: fixed; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body, html {
    overflow-x: hidden;
}

@font-face {
    font-family: 'font';
    src: url('fonts/font.ttf') format('truetype');
}


@font-face {
    font-family: 'poppins';
    src: url('fonts/poppins.regular.ttf') format('truetype');
}

.nav-link {
    color: #f9f2da;
}

.sidebar {
    display: block;
    width: 250px !important;
    padding: 20px;
    background-color: #f9f2da;
    font-family: font;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.sidebar a {
    text-decoration: none;
    color: #f9f2da !important;
    display: block;
    background-color: #c07343;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar a:hover {
    background-color: #dea576;
    color: #fff;
}

.sidebar a.active {
    background-color: #c07343 !important;
}

@media (max-width: 576px) {
    .sidebar {
        display: none;
    }
    .main-content {
        margin-top: 50px;
    }
}

@media (min-width: 1027px) {
    .navbar {
        display: block;
    }

    .navbar-nav {
        display: none;
    }

    .wordmark {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .sidebar {
        display: none;
    }

    .contents-container {
        width: 100% !important;
        margin-left: 0;
    }

    .main-content {
        margin-top: 50px;
    }
}

.contents-container {
    width: 100% !important;
    font-family: font;
    font-size: 2.5vh;
    padding: 20px;
}

.main-content {
    margin-top: 50px;
    width: 100% !important;
    font-family: font;
    font-size: 2.5vh;
 
}


.banner-container {
    width: 100%;
    height: auto;
}

.carousel-item img {
    object-fit: fill;
    height: auto;
    max-height: 550px;
}

@media (max-width: 576px) {
    .carousel-item img {
        max-height: 300px;
    }
    .banner-container {
        height: auto;
    }
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .home-ramen .img-fluid {
    width: 150px; 
    animation: spin 10s linear infinite;
  }
  
  .button-container .btn {
    background-color: #c07343;
    color: #f9f2da;
    width: 150px;
    font-size: 3vh;
  }

  .button-container .btn:hover {
    background-color: #dea576;
    color: #fff;
}
